* {
	-fx-darkest-grey-color: #333333;
}

.check-box .box {
	-fx-background-color: white;
	-fx-border-color: -fx-darkest-grey-color;
	-fx-border-radius: 0;
    -fx-padding: 5px;
}
.check-box .mark {
 	-fx-shape: "M 4 8 L 10 1 L 12 3 L 5 9 C 6 10 6 11 7 10 C 7 11 8 12 7 12 A 1.42 1.42 0 0 1 6 13 A 5 5 0 0 0 4 10 Q 3.5 9.9 3.5 10.5 T 2 11.8 t -0.8 -0.8 T 2.5 9.5 T 3 9 A 5 5 90 0 0 0 7 A 1.42 1.42 0 0 1 1 6 C 1 5 2 6 3 6 C 2 7 3 7 4 8 M 10 1 L 13 0 L 12 3";
    -fx-padding: 10px;
}
.check-box:selected .mark {
	-fx-background-color: -fx-darkest-grey-color;
}
.check-box:selected .box {
	-fx-background-color: white;
}

.text-area {
    -fx-font-family: 'monospaced';
}

.ally-team-result, .enemy-team-result {
    -fx-font-family: 'monospaced';
}

.text-area {
    -fx-control-inner-background: -fx-darkest-grey-color;
    -fx-highlight-fill: white;
    -fx-highlight-text-fill: -fx-darkest-grey-color;
    -fx-text-fill: white;
}

.context-menu {
    -fx-background-color: white;
    -fx-text-fill: -fx-darkest-grey-color;
}
  
.menu-item .label {
    -fx-text-fill: -fx-darkest-grey-color;
}
  
.menu-item:focused .label {
    -fx-text-fill: white;
}