* {
    /* General */
    -ltc-accent-color: #dead4a;
    -ltc-accent-color-transparent: rgba(222, 173, 74, 0.3);
    -ltc-color-0: #1d1e22;
    -ltc-color-1: #202529;
    -ltc-color-2: #2a3036;
    -ltc-text-color: #c4b391;
    -ltc-background-color: #17181c;
    -ltc-border-color: -ltc-color-2;
    /* TabPane */
    -ltc-tab-text-color: -ltc-accent-color;
    -ltc-tab-header-background-color: -ltc-color-1;
    -ltc-tab-background-color: -ltc-color-1;
    -ltc-tab-selected-background-color: -ltc-color-0;
    -ltc-tab-selected-indicator-color: -ltc-accent-color;
    -ltc-tab-height: 40;
    /* TitledPane */
    -ltc-text-area-background-color: -ltc-color-2;
    -ltc-titled-pane-title-background-color: -ltc-accent-color;
    -ltc-titled-pane-text-color: -ltc-color-2;
    /* Champion List */
    -ltc-champion-list-view-width: 66;
    -ltc-champion-list-view-height: 306;
    -ltc-champion-list-cell-size: 60;
    -ltc-champion-list-cell-width: -ltc-champion-list-cell-size;
    -ltc-champion-list-cell-height: -ltc-champion-list-cell-size;
    /* Champion Ban List */
    -ltc-champion-ban-list-view-width: 252;
    -ltc-champion-ban-list-view-height: 52;
    -ltc-champion-ban-list-cell-size: 50;
    -ltc-champion-ban-list-cell-width: -ltc-champion-ban-list-cell-size;
    -ltc-champion-ban-list-cell-height: -ltc-champion-ban-list-cell-size;
    /* Champion Suggestions List */
    -ltc-suggestions-list-view-width: 238;
    -ltc-suggestions-list-view-height: -ltc-champion-list-view-height;
    -ltc-suggestions-list-cell-width: 230;
    -ltc-suggestions-list-cell-height: -ltc-champion-list-cell-height;
    /* Champion Suggestions Sub List */
    -ltc-suggestions-sub-list-view-width: -ltc-suggestions-list-cell-width;
    -ltc-suggestions-sub-list-view-height: 50;
    -ltc-suggestions-sub-list-cell-size: 45;
    -ltc-suggestions-sub-list-cell-width: -ltc-suggestions-sub-list-cell-size;
    -ltc-suggestions-sub-list-cell-height: 40;
}


/* Button */

.button {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-background-color: -ltc-accent-color;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-text-fill: -ltc-color-0;
}

.button:hover:pressed {
    -fx-background-color: -ltc-background-color;
    -fx-border-width: 1;
    -fx-border-color: -ltc-accent-color;
    -fx-text-fill: -ltc-accent-color;
}

.button:hover {
    -fx-background-color: derive(-ltc-accent-color, 25%);
}

.window-button {
    -width: 40;
    -height: 40;
    -fx-pref-width: -width;
    -fx-pref-height: -height;
    -fx-min-height: -height;
    -fx-min-width: -width;
    -fx-max-height: -height;
    -fx-max-width: -width;
    /* ---------------------------------------- */
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-content-display: graphic-only;
}

.window-button.minimize-button:hover,
.window-button.close-button:hover {
    -fx-background-color: derive(-ltc-tab-header-background-color, 5%);
}

.window-button:hover .icon,
.window-button:pressed .icon {
    -fx-background-color: -ltc-accent-color;
}

.window-button .icon {
    -fx-background-color: -ltc-text-color;
}

.window-button.minimize-button:pressed,
.window-button.close-button:pressed {
    -fx-background-color: derive(-ltc-tab-header-background-color, -20%);
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-text-fill: -ltc-color-0;
}

.window-button.close-button .icon {
    -width: 10;
    -height: 10;
    -fx-pref-width: -width;
    -fx-pref-height: -height;
    -fx-min-height: -height;
    -fx-min-width: -width;
    -fx-max-height: -height;
    -fx-max-width: -width;
    /* ---------------------------------------- */
    -fx-shape: "M 2 0 L 0 2 L 8 10 L 0 18 L 2 20 L 10 12 L 18 20 L 20 18 L 12 10 L 20 2 L 18 0 L 10 8 L 2 0";
}

.window-button.minimize-button .icon {
    -width: 12;
    -height: 1.5;
    -fx-pref-width: -width;
    -fx-pref-height: -height;
    -fx-min-height: -height;
    -fx-min-width: -width;
    -fx-max-height: -height;
    -fx-max-width: -width;
    -fx-shape: "M 0 0 L 0 1 L 30 1 L 30 0 L 0 0";
}

.add-button {
    -width: 45;
    -height: 25;
    -fx-pref-width: -width;
    -fx-pref-height: -height;
    -fx-min-height: -height;
    -fx-min-width: -width;
    -fx-max-height: -height;
    -fx-max-width: -width;
}


/* ToggleButton */

.toggle-button {
    -width: 40;
    -height: 20;
    -fx-pref-width: -width;
    -fx-pref-height: -height;
    -fx-max-width: -width;
    -fx-max-height: -height;
    -fx-min-width: -width;
    -fx-min-height: -height;
    /* ---------------------------------------- */
    -fx-background-color: -ltc-color-2, derive(-ltc-accent-color, -50%);
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-insets: 0, -3 20 -3 -3;
}

.toggle-button:selected {
    -fx-background-color: -ltc-color-2, -ltc-accent-color;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-insets: 0, -3 -3 -3 20;
}

.toggle-button:hover {
    -fx-cursor: hand;
}


/* CheckBox */

.check-box .box {
    -width: 26;
    -height: -width;
    -fx-pref-width: -width;
    -fx-pref-height: -height;
    -fx-min-width: -width;
    -fx-min-height: -height;
    -fx-max-width: -width;
    -fx-max-height: -height;
    /* ---------------------------------------- */
    -fx-background-color: -ltc-background-color;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-radius: 0;
    -fx-border-width: 1;
    -fx-border-color: -ltc-accent-color;
}

.check-box .mark {
    -width: 18;
    -height: -width;
    -fx-pref-width: -width;
    -fx-pref-height: -height;
    -fx-min-width: -width;
    -fx-min-height: -height;
    -fx-max-width: -width;
    -fx-max-height: -height;
    /* ---------------------------------------- */
    -fx-shape: "M 4 8 L 10 1 L 12 3 L 5 9 C 6 10 6 11 7 10 C 7 11 8 12 7 12 A 1.42 1.42 0 0 1 6 13 A 5 5 0 0 0 4 10 Q 3.5 9.9 3.5 10.5 T 2 11.8 t -0.8 -0.8 T 2.5 9.5 T 3 9 A 5 5 90 0 0 0 7 A 1.42 1.42 0 0 1 1 6 C 1 5 2 6 3 6 C 2 7 3 7 4 8 M 10 1 L 13 0 L 12 3";
}

.check-box:selected .mark {
    -fx-background-color: -ltc-text-color;
}

.check-box:selected .box {
    -fx-background-color: -ltc-background-color;
}


/* Label */

.label {
    -height: 30;
    -fx-pref-height: -height;
    -fx-min-height: -height;
    -fx-max-height: -height;
    -fx-text-fill: -ltc-accent-color;
}


/* TextArea */

.text-area {
    -fx-font-family: 'monospaced';
    -fx-highlight-fill: -ltc-text-color;
    -fx-highlight-text-fill: -ltc-color-2;
    -fx-text-fill: -ltc-text-color;
}

.text-area .scroll-pane .corner {
    -fx-background-color: -ltc-text-area-background-color;
}

.text-area,
.text-area .viewport,
.text-area .content {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-control-inner-background: transparent;
    -fx-background-color: -ltc-text-area-background-color;
}


/* TextField */

.text-field {
    -height: 30;
    -fx-pref-height: -height;
    -fx-min-height: -height;
    -fx-max-height: -height;
    /* ---------------------------------------- */
    -fx-background-color: -ltc-background-color;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-text-fill: -ltc-text-color;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-width: 0 0 1 0;
    -fx-border-radius: 0;
    -fx-border-color: -ltc-accent-color;
    -fx-alignment: center;
    -fx-prompt-text-fill: -ltc-color-2;
    -fx-highlight-fill: -ltc-text-color;
    -fx-highlight-text-fill: -ltc-color-2;
}


/* ContextMenu */

.context-menu {
    -fx-background-color: -ltc-color-0;
}

.menu-item .label {
    -fx-text-fill: -ltc-color-1;
    -fx-text-fill: -ltc-text-color;
}

.context-menu .separator:horizontal .line {
    -fx-border-insets: 0;
    -fx-border-width: 1;
    -fx-border-color: -ltc-text-color transparent transparent transparent;
}

.menu-item:focused {
    -fx-background-color: -ltc-accent-color;
}

.menu-item:focused .label {
    -fx-text-fill: -ltc-color-1;
}


/* ScrollBar */

.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-border-radius: 2.0em;
}

.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 0.0 10.0 0.0;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 10.0 0.0 0.0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: -ltc-accent-color;
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}


/* ListView */

.list-view {
    -fx-border-width: 0 !important;
    -fx-background-color: -ltc-color-1 !important;
    -fx-background-insets: 0 !important;
}

.list-view .list-cell {
    -fx-background-color: -ltc-color-1 !important;
    -fx-text-fill: -ltc-text-color !important;
    -fx-alignment: center !important;
}

.list-view .list-cell:filled:selected {
    -fx-background-color: -ltc-accent-color !important;
    -fx-text-fill: -ltc-color-0 !important;
}

.list-view .list-cell:filled:hover,
.list-view .list-cell:filled:selected:hover {
    -fx-background-color: -ltc-text-color !important;
    -fx-text-fill: -ltc-color-0 !important;
}


/* Champion List */

.champion-list-view .scroll-bar:horizontal .increment-arrow,
.champion-list-view .scroll-bar:horizontal .decrement-arrow,
.champion-list-view .scroll-bar:horizontal .increment-button,
.champion-list-view .scroll-bar:horizontal .decrement-button,
.champion-list-view .scroll-bar:vertical .increment-arrow,
.champion-list-view .scroll-bar:vertical .decrement-arrow,
.champion-list-view .scroll-bar:vertical .increment-button,
.champion-list-view .scroll-bar:vertical .decrement-button {
    -fx-padding: 0 !important;
}

.champion-list-view {
    -width: -ltc-champion-list-view-width;
    -height: -ltc-champion-list-view-height;
    -fx-pref-width: -width;
    -fx-pref-height: -height;
    -fx-max-width: -width;
    -fx-max-height: -height;
    -fx-min-width: -width;
    -fx-min-height: -height;
    /* ---------------------------------------- */
    -fx-background-insets: 0 !important;
    -fx-border-width: 2 !important;
    -fx-border-color: -ltc-accent-color !important;
    -fx-background-color: -ltc-color-1 !important;
}

.champion-list-view .list-cell {
    -width: -ltc-champion-list-cell-width;
    -height: -ltc-champion-list-cell-height;
    -fx-pref-width: -width;
    -fx-pref-height: -height;
    -fx-max-width: -width;
    -fx-max-height: -height;
    -fx-min-width: -width;
    -fx-min-height: -height;
    /* ---------------------------------------- */
    -fx-padding: 0 !important;
    -fx-alignment: center !important;
    -fx-background-color: transparent !important;
}

.champion-list-view .list-cell:selected {
    -fx-background-color: -ltc-accent-color !important;
}


/* Champion Ban List */

.champion-ban-list-view {
    -width: -ltc-champion-ban-list-view-width;
    -height: -ltc-champion-ban-list-view-height;
    -fx-pref-width: -width;
    -fx-pref-height: -height;
    -fx-max-width: -width;
    -fx-max-height: -height;
    -fx-min-width: -width;
    -fx-min-height: -height;
    /* ---------------------------------------- */
    -fx-border-width: 0 !important;
    -fx-orientation: horizontal !important;
}

.champion-ban-list-view .list-cell {
    -width: -ltc-champion-ban-list-cell-width;
    -height: -ltc-champion-ban-list-cell-height;
    -fx-pref-width: -width;
    -fx-pref-height: -height;
    -fx-max-width: -width;
    -fx-max-height: -height;
    -fx-min-width: -width;
    -fx-min-height: -height;
    /* ---------------------------------------- */
    -fx-border-width: 0 !important;
    -fx-orientation: horizontal !important;
}


/* Champion Suggestions List */

.suggestions-list-view {
    -width: -ltc-suggestions-list-view-width;
    -height: -ltc-suggestions-list-view-height;
    -fx-pref-width: -width;
    -fx-pref-height: -height;
    -fx-max-width: -width;
    -fx-max-height: -height;
    -fx-min-width: -width;
    -fx-min-height: -height;
    /* ---------------------------------------- */
    -fx-orientation: vertical !important;
    -fx-border-color: transparent !important;
    -fx-border-width: 2 2 2 0 !important;
    -fx-background-color: transparent !important;
}

.suggestions-list-view .list-cell {
    -width: -ltc-suggestions-list-cell-width;
    -height: -ltc-suggestions-list-cell-height;
    -fx-pref-width: -width;
    -fx-pref-height: -height;
    -fx-max-width: -width;
    -fx-max-height: -height;
    -fx-min-width: -width;
    -fx-min-height: -height;
    /* ---------------------------------------- */
    -fx-background-color: transparent !important;
    -fx-alignment: center-left !important;
}

.suggestions-list-view .list-cell:selected {
    -fx-background-color: transparent !important;
}


/* Champion Suggestions Sub List */

.suggestions-sub-list-view {
    -width: -ltc-suggestions-sub-list-view-width;
    -height: -ltc-suggestions-sub-list-view-height;
    -fx-pref-width: -width;
    -fx-pref-height: -height;
    -fx-max-width: -width;
    -fx-max-height: -height;
    -fx-min-width: -width;
    -fx-min-height: -height;
    /* ---------------------------------------- */
    -fx-orientation: horizontal !important;
    -fx-border-width: 1 1 1 0 !important;
    -fx-border-color: -ltc-accent-color !important;
    -fx-background-color: -ltc-color-1 !important;
}

.suggestions-sub-list-view .list-cell {
    -width: -ltc-suggestions-sub-list-cell-width;
    -height: -ltc-suggestions-sub-list-cell-height;
    -fx-pref-width: -width;
    -fx-pref-height: -height;
    -fx-max-width: -width;
    -fx-max-height: -height;
    -fx-min-width: -width;
    -fx-min-height: -height;
    /* ---------------------------------------- */
    -fx-background-color: transparent !important;
    -fx-alignment: center !important;
}

.suggestions-sub-list-view .list-cell:selected {
    -fx-background-color: -ltc-accent-color !important;
}


/* Temporary */

.team-result {
    -width: 250;
    -height: 200;
    -fx-pref-width: -width;
    -fx-pref-height: -height;
    -fx-min-width: -width;
    -fx-min-height: -height;
    -fx-max-width: -width;
    -fx-max-height: -height;
}

.team-result Text {
    -fx-fill: -ltc-text-color;
    -fx-font-family: 'monospaced';
    -fx-font-size: 14;
}

.team-result Text:bad {
    -fx-fill: #b15757;
}

.team-result Text:good {
    -fx-fill: #54a854;
}


/* TabPane */

.tab-pane {
    -fx-tab-min-width: 120;
    -fx-background-color: -ltc-background-color;
    -fx-background-insets: 0;
}

.tab-pane .tab {
    -fx-background-color: -ltc-tab-background-color;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-pref-height: -ltc-tab-height;
    -fx-border-width: 0 1 1 0;
    -fx-border-color: -ltc-border-color;
}

.tab-pane .tab:selected {
    -fx-background-color: -ltc-tab-selected-indicator-color, -ltc-tab-selected-background-color;
    -fx-background-insets: 0, 0 0 2 0;
}

.tab-pane .tab .tab-label {
    -fx-alignment: center;
    -fx-text-fill: -ltc-tab-text-color;
    -fx-font-size: 12;
    -fx-font-weight: bold;
}

.tab-pane:top *.tab-header-area {
    -fx-padding: 0;
}

.tab-pane .tab:selected .tab-label {
    -fx-text-fill: -ltc-tab-text-color;
}

.tab-pane .tab:selected .focus-indicator {
    -fx-border-width: 0;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: -ltc-tab-header-background-color;
}


/* TitledPane */

.titled-pane>.content>* {
    -fx-padding: 0;
}

.titled-pane .content {
    -fx-background-color: -ltc-text-area-background-color;
    -fx-border-width: 0;
}

.titled-pane>.title {
    -fx-background-color: -ltc-titled-pane-title-background-color;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.titled-pane {
    -fx-text-fill: -ltc-titled-pane-text-color;
}